<h1>Listing doctypes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctypes.each do |doctype| %>
  <tr>
    <td><%= link_to 'Show', doctype %></td>
    <td><%= link_to 'Edit', edit_doctype_path(doctype) %></td>
    <td><%= link_to 'Destroy', doctype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doctype', new_doctype_path %>
