<div class="container">
  <div class="row">
    <div class="span4 offset4">
      <h3>Sign Up</h3>
      <div class="body-block">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

