<h1>Features</h1>
<div class="body-block">
  <ul class="thumbnails">
    <li class="span5">
      <div style="width:480px;height:360px;background-color:gray;"></div>
      <p>Thumbs Up/Thumbs Down Rating</p>
    </li>
    <li class="span5">
      <div style="width:480px;height:360px;background-color:gray;"></div>
      <p>Private Comments</p>
    </li>
    <li class="span5">
      <div style="width:480px;height:360px;background-color:gray;"></div>
      <p>Accept Volunteers</p>
    </li>
    <li class="span5">
      <div style="width:480px;height:360px;background-color:gray;"></div>
      <p>Private URL for Each Reader</p>
    </li>
  </ul>
</div>
