<div class="row">
  <div class="span8">
    <p style="font-size:2.0em;line-height:1.3em;"><strong>MyBetaReaders</strong> exists to match <strong>readers and writers</strong>. Writers upload text readers <strong>provide feedback</strong>.</p>
    <div class="row">
      <div class="span4">
        <div class="body-block">
          <h3>For Readers</h3>
          <ul class="how-it-works blue">
            <li>Sign up.</li>
            <li>Choose to read (or not) the documents you are invited to.</li>
            <li>Volunteer to read books on the What's Hot page.</li>
            <li>Offer feedback in comments.</li>
            <li>Give <i class="icon-thumbs-up"></i><i class="icon-thumbs-down"></i> ratings.</li>
            <li>Indicate your feedback is complete.</li>
          </ul>
        </div>
      </div>
      <div class="span4">
        <div class="body-block">
          <h3>For Writers</h3>
          <ul class="how-it-works green">
            <li>Sign Up.</li>
            <li>Create Document.</li>
            <li>Invite Readers (by email or from volunteer list).</li>
            <li>Participate in feedback by responding to reader comments.</li>
            <li>Rate the readers based on the feedback you received.</li>
            <li>Use the feedback you received to improve the document.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <a href="/faq" class="btn">Frequently Asked Questions</a>
  </div>
</div>
