<h1>How It Works</h1>
<div class="row">
  <div class="span5 body-block">
    <h3>For Readers</h3>
    <ul>
      <li>Sign up</li>
      <li>Choose to read (or not) the books you are invited to</li>
      <li>Volunteer to read books on the What's Hot page</li>
      <li>Leave feedback in comments or "thumbs up/thumbs down" ratings</li>
      <li>Indicate your feedback is complete</li>
    </ul>
  </div>
  <div class="span5 body-block">
    <h3>For Writers</h3>
    <ul>
      <li>Sign Up</li>
      <li>Create Document</li>
      <li>Invite Readers (by email or from volunteer list)</li>
      <li>Participate in feedback by leaving comments</li>
      <li>Rate the feedback you received</li>
      <li>Use the feedback you received to improve the document</li>
    </ul>
  </div>
</div>
