<div class="container">
  <h1>My Beta Readers Plans</h1>
  <h3>You write. They read.</h3>
  <div class="row">
    <div class="body-block plans span3" style="margin-top:30px;">
      <div class="body-box blue">
        <p>Small</p>
      </div>
      <br />
      <p class="centered">1 active document</p>
      <h3 class="centered">$15/month</h3>
      <p class="centered"><a href="#" class='btn btn-success'>Subscribe</a></p>
    </div>
    <div class="body-block plans span4" style="box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);">
      <div class="body-box-big yellow">
        <p>Medium</p>
      </div>
      <br />
      <p class="centered">Up to 5 active documents</p>
      <h2 class="centered">$20/month</h2>
      <p class="centered"><a href="#" class='btn btn-success btn-large'>Subscribe</a></p>
    </div>
    <div class="body-block plans span3" style="margin-top:30px;">
      <div class="body-box blue">
        <p>Large</p>
      </div>
      <br />
      <p class="centered">Up to 10 active documents</p>
      <h3 class="centered">$25/month</h3>
      <p class="centered"><a href="#" class='btn btn-success'>Subscribe</a></p>
    </div>
  </div>
  <p style="padding-top:50px;"><i class="icon-arrow-right"></i> <%= link_to "Sign Up for Reading Only" -%></p>
</div>
