<div class="container">
  <h1>My Beta Readers Pricing</h1>
  <h3>You write. They read.</h3>
  <div class="row">
    <div class="body-block prices span2" style="margin-top:30px;">
      <div class="body-box green">
        <p>Free</p>
      </div>
      <br />
      <p class="centered">Up to 2,000 words</p>
      <p class="centered">1 document at a time</p>
      <h3 class="centered">Free</h3>
    </div>
    <div class="body-block prices span2" style="margin-top:30px;">
      <div class="body-box blue">
        <p>Small</p>
      </div>
      <br />
      <p class="centered">Up to 5,000 words</p>
      <p class="centered">Unlimited documents</p>
      <h3 class="centered">$5</h3>
    </div>
    <div class="body-block prices span2" style="margin-top:30px;">
      <div class="body-box yellow">
        <p>Medium</p>
      </div>
      <br />
      <p class="centered">Up to 20,000 words</p>
      <p class="centered">Unlimited documents</p>
      <h3 class="centered">$10</h3>
    </div>
    <div class="body-block prices span2" style="margin-top:30px;">
      <div class="body-box orange">
        <p>Large</p>
      </div>
      <br />
      <p class="centered">Up to 100,000 words</p>
      <p class="centered">Unlimited documents</p>
      <h3 class="centered">$20</h3>
    </div>
  </div>
  <p style="padding-top:50px;"><i class="icon-arrow-right"></i> Choose the free plan to sign up for reading-only.</p>
</div>
