<div class="modal" id="how-to-review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-header">
    <h3 id="myModalLabel">How to Review a Document</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>Imagine the writer is sitting next to you while you review the document. This will help you be clear in your feedback.</li>
      <li>You can leave comments for every paragraph. Be explicit (and kind) in the comments you make. "This paragraph is bad" isn't as helpful (or kind) as "I found it hard to follow this paragraph." The writer can also comment.</li>
      <li>If your feedback/comment applies to a group of paragraphs indicate it in the comment: "These last three paragraphs are excellent. They really tie the story together."</li>
      <li>You can select text from the paragraph and it will be placed in the comment box inside of quotation marks if you'd like to refer directly to specific text in your comment.</li>
      <li>There are categories for rating each paragraph in a document. To see the categories click on the button next to the paragraph that looks like <button class="btn btn-mini"><i class="icon-thumbs-up"></i><i class="icon-thumbs-down"></i></button>. You can rate each category "thumbs up" <i class="icon-thumbs-up"></i> or "thumbs down" <i class="icon-thumbs-down"></i> for each paragraph by clicking on the appropriate icon/button. Hovering over the category names will display a tooltip with additional text explaining that category. You do not have to rate each category for each paragraph.</li>
      <li>If you want to bookmark a paragraph click on the bookmark button, <button class="btn btn-mini"><i class="icon-bookmark"></i></button>. The button will turn green <button class="btn btn-mini btn-success"><i class="icon-bookmark"></i></button>. You can bookmark one paragraph.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

