<div class="modal" id="how-to-use-reviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-header">
    <h3 id="myModalLabel">How to Use Document Reviews</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>The overall rating for the document is displayed at the top and is calculated based on reader "thumbs up/thumbs down" feedback. A rating of "0.0" is right in the middle. A rating of "-1.0" is the worst rating possible. A rating of "+1.0" is the best rating possible.</li>
      <li>There are categories for rating each paragraph in a document. There is a summary of thumbs up/down displayed in green/red bubbles for each paragraph. To see the specific categories and thumbs up/down counts click on the button next to the paragraph that looks like <button class="btn btn-mini"><i class="icon-thumbs-up"></i><i class="icon-thumbs-down"></i></button>. Hovering over the category names will display a tooltip with additional text explaining that category. Readers do not have to rate each category for each paragraph.</li>
      <li>You can display the comments on the paragraph by clicking on the button that looks like this: <button class="btn btn-mini"><i class="icon-comments"></i> 3</button>. The number indicates how many comments there are, including your own. As the writer you can see all comments.</li>
      <li>While reviewing the comments, if you find one you'd like to flag so that you remember it later either to respond or incorporate in the next version click on the text of the comment and a flag <i class="icon-flag"></i> will appear to the left of the comment. Click again and the flag will go away.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

