<div class="container">
  <h3>Browse Documents</h3>
  <% if @documents.size > 0 -%>
    <ul class="thumbnails">
      <% @documents.each do |document| -%>
        <li class="span4">
          <%= render :partial => "document_whats_hot", :object => document -%>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h4>Coming soon. Check back later.</h4>
  <% end -%>
</div>
