<div class="container" style="border:1px solid #f0f0f0;padding: 10px;">
  <h3>My Reading Projects</h3>
  <ul class="thumbnails">
    <% @feedbacks.each do |feedback| -%>
      <li class="span4" style="padding-bottom:40px;">
        <%= render :partial => "document", :object => feedback -%>
      </li>
    <% end %>
  </ul>
</div>
