body {
  background: #f2f2f2 url(/assets/brillant.png) repeat;
  color: #333;
  font-family: Ubuntu, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top:40px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice, .green {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.body-block {
  background:#ffffff;
  border:1px solid #d4d4d4;
  padding:20px;
}
.body-block h3 {
  padding:10px 0 10px 0;
  line-height:0;
}
.body-block .plans {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
}
.body-subdued-block {
  background:#e5e5e5;border:1px solid #cbcbcb; padding:20px;
}
.body-subdued-block a.btn {
  color:#ffffff;
}
p.sub-title {
  color:#888;line-height:1.5em;text-align:center;font-size:1.2em;
}
.rotate-45 {
  /* Safari */
  -webkit-transform: rotate(-45deg);
  /* Firefox */
  -moz-transform: rotate(-45deg);
  /* IE */
  -ms-transform: rotate(-45deg);
  /* Opera */
  -o-transform: rotate(-45deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
span.highlight {
  background-color: #FFFF88;
}
.body-box {
  height: 100px;
  margin: 0 auto;
  width: 150px;
}
.body-box-big {
  height: 200px;
  margin: 0 auto;
  width: 300px;
}
.body-box.red {
  background-color: #ff0000;
}
.body-box.yellow {
  background-color: yellow;
}
.body-box.orange {
  background-color: orange;
}
.body-box.blue {
  background-color: #111575;
}
.body-box.green {
  background-color: #00ff00;
}
.body-box-big.yellow {
  background-color: #CCAB00;
}
.body-box p, .body-box-big p {
  color: white;
  text-align: center;
}
.body-box p {
  font-size: 30px;
  font-weight: bold;
  padding-top:40px;
}
.body-box-big p {
  font-size: 60px;
  font-weight: bold;
  padding-top:80px;
}
.how-it-works li {
  font-size: 1.3em;
  line-height:1.3em;
  margin-bottom:10px;
}
ul.how-it-works {
  list-style:none;
}
ul.how-it-works li:before {
  content: "\0020 \0020 \0020 \00B7 \0020 \0020";
  margin-left: -16px;
  margin-top: 8px;
  font-weight:bold;
  font-size: 1.3em;
}
ul.how-it-works.blue li:before {
  color: #0071bc;
}
ul.how-it-works.green li:before {
  color: #00ff00;
}
a.book-icon-link:hover {
  background-color:white;
  text-decoration:none;
}
.hidden {
  display:none;
}
.simpleColorDisplay {
  margin: 0 auto;
  display:inline-block;
}
.simpleColorChooser {
  margin: 0 auto !important;
}
.simpleColorSelectButton, .simpleColorCancelButton {
  margin-top:-17px;
  width: 75px !important;
}
.document_radio_button {
  margin-top: -3px !important;
}
.smaller {
  font-size: 0.8em;
}
.gray {
  color: #dddddd;
}
ul.nav {
  padding-top:1px;
}
.jumbotron {
  left: 0;
  position: relative;
  margin-top: -60px;
  width: 100%;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  background: #630057;
  background: -moz-linear-gradient(45deg,#630057 0%,#00083D 100%);
  background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#630057),color-stop(100%,#00083D));
  background: -webkit-linear-gradient(-45deg,#000947 30%, #4C7BB8 100%);
  background: -o-linear-gradient(45deg,#000947 30%,#00083D 100%);
  background: -ms-linear-gradient(45deg,#630057 0%,#00083D 100%);
  background: linear-gradient(45deg,#630057 30%,#00083D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#630057',endColorstr='#00083d',GradientType=1);
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,0.2), inset 0 -3px 7px rgba(0,0,0,0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
}
.jumbotron::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
}
.jumbotron h1 {
  font-family: Ubuntu;
  font-size: 125px;
  line-height: 1;
  letter-spacing: -2px;
}
.jumbotron h2 {
  font-family: Ubuntu;
  font-size: 40px;
  font-weight: 200;
  line-height: 40px;
  padding-top: 30px;
  text-align: center;
}
.jumbotron p {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.brand {
  font-family: Ubuntu;
}
#home {
  text-align:center;
  padding: 100px 10px;
  margin-bottom:0px;
}
.home_page_container {
  padding-top:40px;
}
.stripe {
  padding:30px;
  text-align: left;
  width: 100%;
}
