body {
  background-color: #f2f2f2;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.body-block {
  background:#ffffff;
  border:1px solid #d4d4d4;
  padding:20px;
}
.body-block .plans {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
}
.body-subdued-block {
  background:#e5e5e5;border:1px solid #cbcbcb; padding:20px;
}
.body-subdued-block a.btn {
  color:#ffffff;
}
p.sub-title {
  color:#888;line-height:1.5em;text-align:center;font-size:1.2em;
}
.rotate-45 {
  /* Safari */
  -webkit-transform: rotate(-45deg);
  /* Firefox */
  -moz-transform: rotate(-45deg);
  /* IE */
  -ms-transform: rotate(-45deg);
  /* Opera */
  -o-transform: rotate(-45deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
span.highlight {
  background-color: #FFFF88;
}
.body-box {
  height: 150px;
  margin: 0 auto;
  width: 200px;
}
.body-box-big {
  height: 200px;
  margin: 0 auto;
  width: 300px;
}
.body-box.blue {
  background-color: #111575;
}
.body-box-big.yellow {
  background-color: #CCAB00;
}
.body-box p, .body-box-big p {
  color: white;
  text-align: center;
}
.body-box p {
  font-size: 40px;
  font-weight: bold;
  padding-top:60px;
}
.body-box-big p {
  font-size: 60px;
  font-weight: bold;
  padding-top:80px;
}
